@import "tailwindcss";
@plugin 'tailwind-scrollbar' {
    nocompatible: true;
}


/* .client_1{
    background-color: white;
    box-shadow: -0.2rem -0.2rem #6a22c5;
}
.client_2{
    color: white;
    background-color: #6a22c5;
     box-shadow: 0.2rem 0.2rem #fff;
} */
 .client_1 {
  background-color: #ffffff;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.06),
    0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}


.client_2 {
  color: white;
  background-color: #6a22c5;
  box-shadow:
    0 8px 20px rgba(106, 34, 197, 0.35),
    0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
}




.de {
      display: flex;
      gap: 5px;
      padding:4px;
      border-radius: 12px;
      /* background-color: #e0e0e0; */
    }

    .de > div {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      /* background-color: black; */
    }

    .bou {
      animation: bounce 0.5s infinite ease-in-out, colorChange 1.1s infinite alternate;
    }

    .bou2 {
      animation: bounce 0.6s infinite ease-in-out, colorChange 1.4s infinite alternate;
    }

    .bou3 {
      animation: bounce 0.7s infinite ease-in-out, colorChange 1.3s infinite alternate;
    }

    @keyframes bounce {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
    }

    @keyframes colorChange {
      0% { background-color: black; }
      100% { background-color: #6a22c5; } /* Fewer colors */
    }


    .glow-wrapper {
  position: relative;
  border-radius: 8px;
  background: white;
  z-index: 0;
}

/* Animated glow BEHIND the entire box */
.glow-wrapper::before {
  content: "";
  position: absolute;
  inset: -3px; 
  z-index: -1;
  border-radius: inherit;

  background: linear-gradient(
    to left,
    #ff5770,
    #e4428d,
    #c42da8,
    #9e16c3,
    #6501de,
    #9e16c3,
    #c42da8,
    #e4428d,
    #ff5770
  );

  background-size: 200% 200%;
  animation: animateGlow 1.25s ease-in-out infinite;
  filter: blur(12px);
}

/* Optional: subtle inner shadow for depth */
.glow-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: white;
  z-index: -1;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}


.wrapperClassName {
  height: 100%;
  /* background-color: red; */
  max-height: 550px;
  overflow: hidden;

}

.editorClassName {
  min-height: 300px; 
  padding: 10px;
}

.rdw-editor-main {
  scrollbar-width: none;
}